<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net40" />
  <package id="SharpRaven" version="2.3.2" targetFramework="net40" />
  <package id="System.IO.Abstractions" version="2.1.0.178" targetFramework="net40" />
  <package id="VSSDK.DebuggerVisualizers" version="9.0.4" targetFramework="net40" />
  <package id="VSSDK.IDE.9" version="9.0.4" targetFramework="net40" />
</packages>